<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="min-h-screen bg-cover bg-center" style="background-image: url('https://media.istockphoto.com/id/975806766/photo/green-ripening-soybean-field-agricultural-landscape.webp?b=1&s=170667a&w=0&k=20&c=ZtxvP6GTQ13UZ7LXul6zPRDs6mwmaiRAjFOpaGoNTRw=');">
  <div class="p-4">
    <h2 class="text-lg font-semibold text-white mb-4">Explore by Crops</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <button class="bg-purple-300 text-zinc-800 p-4 rounded-lg shadow">Coffee</button>
      <button class="bg-purple-300 text-zinc-800 p-4 rounded-lg shadow">Maize</button>
      <button class="bg-purple-300 text-zinc-800 p-4 rounded-lg shadow">Mango</button>
      <button class="bg-purple-300 text-zinc-800 p-4 rounded-lg shadow">Apple</button>
      <!-- <button class="bg-purple-300 text-zinc-800 p-4 rounded-lg shadow">Gingelly Seed</button>
      <button class="bg-purple-300 text-zinc-800 p-4 rounded-lg shadow">Gram</button>
      <button class="bg-purple-300 text-zinc-800 p-4 rounded-lg shadow">Maize</button>
      <button class="bg-purple-300 text-zinc-800 p-4 rounded-lg shadow">Moong</button>
      <button class="bg-purple-300 text-zinc-800 p-4 rounded-lg shadow">Urad</button>
      <button class="bg-purple-300 text-zinc-800 p-4 rounded-lg shadow">Niger Seed</button> -->
    </div>
  </div>
</div>
  </body>
</html>